@keyframes bounce {
  100% {
    transform: translateY(-4.375em);
  }
}

@keyframes hideit {
  100% {
    opacity: 0;
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* HEADER */
header .logo-banner {
  display: flex;
  height: 3em;
  align-items: center;
  margin: 0 1em;
}

header .logo-banner .link-arrow {
  text-decoration: none;
  color: inherit;
}

header .logo-banner .header__logo {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 1.5em;
}

header .header-background {
  width: 100%;
  height: 15em;
  object-fit: cover;
}

#container {
  position: absolute;
  margin-top: -4em;
  width: 100%;
}

/* MENU */
.menu {
  background-color: #F6F6F6;
  border-top-left-radius: 1.875em;
  border-top-right-radius: 1.875em;
  width: 100%;
}

@media all and (min-width: 851px) {
  .menu .menu-responsive {
    display: flex;
    justify-content: space-between;
  }
}

@media all and (min-width: 851px) {
  .menu .starters, .menu .meals, .menu .deserts {
    width: 30%;
  }
}

.menu .restaurant-name {
  display: flex;
}

.menu .restaurant-name h1 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 1.5em;
  width: 100%;
  margin-left: 1em;
}

.menu .restaurant-name i {
  display: flex;
  align-items: center;
  margin-right: 2em;
  font-size: 1.25em;
  cursor: pointer;
}

.menu .restaurant-name .fa-heart:hover {
  transition: .3s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}

.menu .starters, .menu .meals, .menu .deserts {
  padding: 0 1em;
}

.menu .starters h2, .menu .meals h2, .menu .deserts h2 {
  font-size: 1em;
  font-weight: 300;
}

.menu .starters h2::after, .menu .meals h2::after, .menu .deserts h2::after {
  content: "";
  width: 2.5em;
  height: 0.2em;
  background-color: #99E2D0;
  display: block;
}

.menu .starters .menu-btn, .menu .meals .menu-btn, .menu .deserts .menu-btn {
  background-color: #FFFFFF;
  border-radius: 0.9375em;
  height: 4em;
  padding: 0.4em;
  margin: 1em 0;
  line-height: 0.3125em;
  display: flex;
  box-shadow: 0px 3px 5px 1px #cfc7cf;
  -webkit-box-shadow: 0px 3px 5px 1px #cfc7cf;
  -moz-box-shadow: 0px 3px 5px 1px #cfc7cf;
  cursor: pointer;
  transform: scale(0);
  animation: pop-in 0.5s ease;
  animation-fill-mode: forwards;
}

.menu .starters .ellipsis, .menu .meals .ellipsis, .menu .deserts .ellipsis {
  flex: 1;
  margin: auto;
}

.menu .starters .ellipsis .ellipsis__title, .menu .meals .ellipsis .ellipsis__title, .menu .deserts .ellipsis .ellipsis__title {
  font-size: 0.9375em;
  font-weight: 500;
}

.menu .starters .ellipsis .ellipsis__description, .menu .meals .ellipsis .ellipsis__description, .menu .deserts .ellipsis .ellipsis__description {
  font-size: 0.8em;
  font-weight: 300;
}

.menu .starters .price, .menu .meals .price, .menu .deserts .price {
  font-size: 0.8em;
  font-weight: 500;
  padding-top: 3.2em;
  margin-right: 1em;
}

.menu .starters .confirm, .menu .meals .confirm, .menu .deserts .confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  background-color: #99E2D0;
  margin: -0.4em;
  border-bottom-right-radius: 0.9375em;
  border-top-right-radius: 0.9375em;
}

.menu .starters .confirm .confirm__circle, .menu .meals .confirm .confirm__circle, .menu .deserts .confirm .confirm__circle {
  background-color: #FFFFFF;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.9375em;
}

.menu .starters .confirm .confirm__circle .checkmark, .menu .meals .confirm .confirm__circle .checkmark, .menu .deserts .confirm .confirm__circle .checkmark {
  color: #99E2D0;
}

.menu .order {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 8em;
}

.menu .order .order__btn {
  border-radius: 1.875em;
  height: 3.5em;
  width: 15em;
  font-size: 0.9375em;
  margin-top: 0.5em;
  margin-bottom: 4em;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
  background: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  margin: auto;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.55);
  transition: all 200ms;
}

.menu .order .order__btn:hover {
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.75);
  opacity: 0.85;
}

/* FOOTER */
.footer {
  background-color: #353535;
  color: #FFFFFF;
  margin-top: 4em;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.footer .footer__logo {
  font-family: "Shrikhand", cursive;
  margin-bottom: 0.5em;
}

.footer a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.footer p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.footer i {
  margin-right: 1em;
  height: 1em;
  width: 1em;
}
/*# sourceMappingURL=menu.css.map */