@keyframes bounce {
    100% {
        transform: translateY(-4.375em);
    }
}
@keyframes hideit {
    100% {
      opacity: 0;
      z-index: -20;
    }
} 

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(0.3em)
  }
  100% {
    opacity: 1;
    
  }
}