@keyframes bounce {
    100% {
        transform: translateY(-4.375em);
    }
}
@keyframes hideit {
    100% {
      opacity: 0;
      z-index: -20;
    }
} 

@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}