$color-primary: #9356DC;
$color-secondary : #FF79DA;
$color-third: #99E2D0;
$grey: #EAEAEA;
$light-grey: #F6F6F6;
$white: #FFFFFF;
$shadow-color : #E6E6E6;
$shirkhand: 'Shrikhand', cursive;
$roboto: 'Roboto', sans-serif;
$gradient: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);