@import "_variables.scss";
@import "_mixins.scss";

body {
    font-family: $roboto;
    margin: 0;
}

/* HEADER */

header {
    .logo-banner {
        display: flex;
        height: 3em;
        align-items: center;
        margin: 0 1em;
        .link-arrow {
            text-decoration: none;
            color: inherit;
        }
        .header__logo {
            display: flex;
            width: 100%;
            justify-content: center;
            height: 1.5em;
        }
    }
    .header-background {
        width: 100%;
    }
}
.container {
    position: absolute;
    margin-top: -4em;
    width: 100%;
}

/* MENU */

.menu {
    background-color: $light-grey;
    border-top-left-radius: 1.875em;
    border-top-right-radius: 1.875em;
   
    width: 100%;
    .restaurant-name {
        display: flex;
        h1 {
            font-family: $shirkhand;
            font-weight: lighter;
            font-size: 1.5em;
            width: 100%;
            margin-left: 1em;
        }
        i {
            display: flex;
            align-items: center;
            margin-right: 2em;
            font-size: 1.25em;
        }
    }
    .starters,.meals,.deserts {
        padding: 0 1em;
        h2 {
            font-size: 1em;
            font-weight: 300;
        }
        .menu-btn {
            background-color: $white;
            border-radius: 0.9375em;
            height: 4em;
            padding: 0.4em;
            margin: 1em 0;
            line-height: 0.3125em;
            display: flex;
            @include shadow;
        }
        .ellipsis {
            flex: 1;
            margin: auto;
            .ellipsis__title {
                font-size: 0.9375em;
                font-weight: 500;
            }
            .ellipsis__description {
                font-size: 0.8em;
                font-weight: 300;
            }
        }
        .price {
            font-size: 0.8em;
            font-weight: 500;
            padding-top: 3.2em;
            margin-right: 1em;
        }
        .confirm {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4em;
            background-color: $color-third;
            margin: -0.4em;
            border-bottom-right-radius: 0.9375em;
            border-top-right-radius: 0.9375em;
            .confirm__circle {
                background-color: $white;
                height: 1.5em;
                width: 1.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.9375em;
                .checkmark {
                    color: $color-third;
                }
            }
        }
    }
    .order {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 8em;
        .order__btn {
            border-radius: 1.875em;
            height: 3.5em;
            width: 15em;
            font-size: 0.9375em;
            margin-top: 0.5em;
            margin-bottom: 4em;
            font-weight: 600;
            color: #FFFFFF;
            border: none;
            background: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
            margin: auto;
            @include purple-shadow;
            transition: all 200ms;

            &:hover {
                @include purple-btn-hover;
            }
        }
    }
}

/* FOOTER */

.footer {
    background-color: #353535;
    color: $white;
    margin-top: 4em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
    .footer__logo {
        font-family: $shirkhand;
        margin-bottom: 0.5em;
    }
    a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
    }
    p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
    i {
        margin-right: 1em;
        height: 1em;
        width: 1em;
    }
}
    


