@import "_variables.scss";

body {
    margin: 0;
    font-family: $roboto;
}

figure img {
    height: 150px;
    width: 150px;
}

/*HEADER*/

header {
    .logo-banner {
        display: flex;
        justify-content: center;
    }
    .header__logo {
        margin-top: 1em;
        margin-bottom: 1em;
        height: 1.8em;
    }
    .header__location {
        display: flex;
        background-color: $grey;
        justify-content: center;
        padding-right: 1.5em;
        box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.13) inset;
        -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.13) inset;
        -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.13) inset;
    }
    .pin-icon {
        display: flex;
        align-items: center;
        justify-items: center;
        margin-right: 1em;
    }
    .discover {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        background-color: $light-grey;
        h1 {
            margin-top: 1em;
            width: 70%;
            font-size: 1.5em;
            font-weight: 500;
        }
        p {
            font-size: 1.5em;
            font-weight: 100;
            font-size: 18px;
            margin-top: -0.5em;
        }
        .discover__btn {
            border-radius: 30px;
            height: 3.5em;
            width: 15em;
            font-size: 15px;
            margin-top: 0.5em;
            margin-bottom: 4em;
            font-weight: 600;
            color: $white;
            border: none;
            background: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.55);
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.55);
        }
    }
}

/*FONCTIONNEMENT*/

.howitworks {
    // margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        align-self: flex-start;
        margin-left: 0.5em;
    }
    .howitworks__btn {
        width: 90%;
        background-color: $light-grey;
        border-radius: 15px;
        display: flex;
        align-items: center;
        margin: 0.5em 0;
        height: 4.5em;
        -webkit-box-shadow: 0px 3px 5px 1px rgba(207, 199, 207, 1);
        -moz-box-shadow: 0px 3px 5px 1px rgba(207, 199, 207, 1);
        box-shadow: 0px 3px 5px 1px rgba(207, 199, 207, 1);
        i {
            font-size: 20px;
            color: grey;
            height: 1em;
            width: 1em;
            display: flex;
            justify-content: center;
            align-content: center;
            margin-left: 5%;
            margin-right: 10%;
        }
        .nbr-circle {
            background-color: $color-primary;
            border-radius: 15px;
            height: 1.5em;
            width: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -0.7em;
            .nbr {
                color: $white;
                font-weight: 300;
            }
        }
    }
}

/*RESTOS*/

.restos {
    background-color: $light-grey;
    h2 {
        margin-left: 0.5em;
    }
    figure {
        background-color: $white;
        border-radius: 15px;
        width: 90%;
        margin: auto;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 3px 5px 0px rgba(151, 151, 151, 0.55);
        -webkit-box-shadow: 0px 3px 5px 0px rgba(151, 151, 151, 0.55);
        -moz-box-shadow: 0px 3px 5px 0px rgba(151, 151, 151, 0.55);
        figcaption {
        }
        .new {
            background-color: $color-third;
            color: #018766;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5em;
            height: 2em;
            border-radius: 3px;
        }
        img {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            object-fit: cover;
        }
    }

}


/*  FOOTER */ 

.footer {
    background-color: #353535;
    color: $white;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
    .footer__logo {
        font-family: $shirkhand;
        margin-bottom: 0.5em;
    }
    p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
    div {
        display: flex;
        align-items: center;
    }
    i {
        margin-right: 1em;
        height: 1em;
        width: 1em;
    }
}