@import "_variables.scss";
@import "_mixins.scss";
@import "_keyframes.scss";

body {
    margin: 0;
    font-family: $roboto;
}


/* LOADER*/

.loader {
    border: 3px solid red;
    display: flex;
    justify-content: center;
    .bouncing-ball {
        width: 1.5em;
        height: 1.5em;
        margin: 5em 1em;
        border-radius: 0.9375em;
        &.ball-1 {
            background-color: $color-primary;
            animation: bounce .5s ease .25s infinite alternate;
        }
        &.ball-2 {
            background-color: $color-secondary;
            animation: bounce .5s ease .25s infinite alternate;
        }
        &.ball-3 {
            background-color: $color-third;
            animation: bounce .5s ease .25s infinite alternate;
        }
    }

}


/*HEADER*/

header {
    .logo-banner {
        display: flex;
        justify-content: center;
    }
    .header__logo {
        margin-top: 1em;
        margin-bottom: 1em;
        height: 1.8em;
    }
    .header__location {
        display: flex;
        background-color: $grey;
        justify-content: center;
        padding-right: 1.5em;
        @include location-shadow;
    }
    .pin-icon {
        display: flex;
        align-items: center;
        justify-items: center;
        margin-right: 1em;
    }
    .discover {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        background-color: $light-grey;
        h1 {
            margin-top: 1em;
            width: 70%;
            font-size: 1.5em;
            font-weight: 500;
        }
        p {
            font-size: 1em;
            font-weight: 100;
            margin-top: -0.3em;
        }
        .discover__btn {
            border-radius: 1.875em;
            height: 3.5em;
            width: 15em;
            font-size: 0.9375em;
            margin-top: 0.5em;
            margin-bottom: 4em;
            font-weight: 600;
            color: $white;
            border: none;
            background: $gradient;
            transition: all 200ms; 
            @include purple-shadow;
            
            &:hover {
                @include purple-btn-hover;
            }
        }
    }
}

/*FONCTIONNEMENT*/

.howitworks {
    // margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        align-self: flex-start;
        margin-left: 0.5em;
    }
    .howitworks__btn {
        width: 90%;
        background-color: $light-grey;
        border-radius: 0.9375em;
        display: flex;
        align-items: center;
        margin: 0.5em 0;
        height: 4.5em;
        @include shadow;
        i {
            font-size: 1.25em;
            color: grey;
            height: 1em;
            width: 1em;
            display: flex;
            justify-content: center;
            align-content: center;
            margin-left: 5%;
            margin-right: 10%;
        }
        .nbr-circle {
            background-color: $color-primary;
            border-radius: 0.9375em;
            height: 1.5em;
            width: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -0.7em;
            .nbr {
                color: $white;
                font-weight: 300;
            }
        }
    }
}

/*RESTAURANTS*/

.restaurants {
    background-color: $light-grey;
    
    h2 {
        margin-left: 0.5em;
    }
    .card {
        display: flex;
        text-decoration: none;
        color: inherit;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        figure {
            background-color: $white;
            border-radius: 0.9375em;
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            position: relative;
            @include shadow;
            img {
                height: 9em;
                width: 100%;
                object-fit: cover;
                border-top-left-radius: 0.9375em;
                border-top-right-radius: 0.9375em;
                width: 100%;
                object-fit: cover;
            }
            figcaption {
                line-height: 1.5em;
                display: flex;
                p,h3 {
                    margin: 0;
                }
                .figcaption__text {
                    flex: 1;
                    padding: 0.8em;
                }
                .heart-icon {
                    display: flex;
                    align-items: center;
                    padding: 0 1em;
                    font-size: 1.5em;
                }
            }
            .new {
                background-color: $color-third;
                color: #018766;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5em;
                height: 2em;
                border-radius: 0.1875em;
                position: absolute;
                top: 0.9em;
                right: 0.5em;
            }
        }
    }
    
}


/*  FOOTER */ 

.footer {
    background-color: #353535;
    color: $white;
    margin-top: 4em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
    .footer__logo {
        font-family: $shirkhand;
        margin-bottom: 0.5em;
    }
    a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
    }
    p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
    i {
        margin-right: 1em;
        height: 1em;
        width: 1em;
    }
}
